:root{
    --primary-color: #033b4a;
    --secondery-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#ecf0f3;
}
#portfolio {
    padding: 6rem 0;
}
#portfolio h2 {
    text-align: center;
    font-size: 30px;
    color: var(--secondery-color );
    font-weight: 600;
    letter-spacing: 1px;

}
#portfolio hr {
    width: 100px;
    height: 3px;
    border: none;
    margin: 5px auto 0;
    background-color: var(--secondery-color)
}

#portfolio{
    background:var(--primary-color);
}
#portfolio .row {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
    text-align: center;
}
#portfolio .row .item {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    transition: all 0.10 ease;
    text-align: center;
}
#portfolio .row .item:hover {
    transform: scale(1.09);

}

#portfolio .row .item img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid#ccc;
    text-align: center;
}
#portfolio .row .item .item-content{
    padding: 20px 15px 30px;
    text-align: center;
}
#portfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}
#portfolio .row .item .item-content a{
    font-size: 14px;
    color: var(--secondery-color);
    font: weight 600px;
    text-align: center;
}
#back{
    size: 20px;
    background-color: #20c997;
    color: #033b4a;
    font-size: 20px;
    font-weight: 300;
    margin-left: 40rem;
    border-radius: 20px;
}
@media(max-width: 768px){
    #portfolio .row{
        grid-template-columns: repeat(2 ,1fr);
    }
}
@media(max-width: 528px){
    #portfolio .row{
        grid-template-columns: 1fr
    }
}